<div class="wrapper-small">
	<div class="left-small">
		From:<div class="dropdown">
  			<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
    		<div class="input-append"><input type="text" class="input-large" data-ng-model="from.date" ><span class="add-on"><i class="icon-calendar"></i></span>
    		</div>
  			</a>
  			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    			<datetimepicker data-ng-model="from.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  			</ul>
		</div>
		To:<div class="dropdown">
  			<a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#">
    		<div class="input-append"><input type="text" class="input-large" data-ng-model="to.date"><span class="add-on"><i class="icon-calendar"></i></span>
    		</div>
  			</a>
  			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    			<datetimepicker data-ng-model="to.date" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
  			</ul>
		</div>
	</div>
	<div class="center">
		<label ng-repeat="c in all_metrics">
		  <input
		    type="checkbox"
		    ng-true-value="{{c.code}}"
		    ng-false-value=""
		    ng-model="checked_metrics[c.code]"
		  > {{c.equivalents}}
		</label>
	</div>
	<div class="right">

		<select ng-model="station" ng-options="c.name for c in all_stations" ng-change="UpdateMeteo()"></select>
		<div>
			</br><strong>ID:</strong> {{station.uid}}
			</br><strong>URL:</strong> <a href="{{station.url}}">{{station.url}}</a>
			</br><strong>Refresh time:</strong> {{station.refresh_time}}
		</div>
		<a href='#/' class="btn btn-danger">Back</a>
		<a class="btn btn-success" ng-click="Export()">Export</a>
	</div>
</div>