<h3>Visualization</h3>
<div><canvas id="meteoChart" width="600" height="400"></canvas></div>
<select ng-model="currentStation" ng-options="c.name for c in stations" ng-change="updateMeteo()"></select>
<select ng-model="currentType" ng-options="c.name for c in availableTypes" ng-change="updateMeteo()"></select>
<a href='#/' class="btn btn-danger">Back</a>
<div><u>Station data: </u>
	</br><strong>Name:</strong> {{currentStation.name}}
	</br><strong>URL:</strong> <a href="{{currentStation.url}}">{{currentStation.url}}</a>
	</br><strong>Refresh time:</strong> {{currentStation.refreshTime}}
</div>

