*.py[cod]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
__pycache__

# Visual C++
*.opensdf
*.sdf
*.sln
*.suo
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
ipch/
Debug/
Release/

# Codelite
.codelite/
*.workspace

# Stormy related files & folders
test/
bin/
server/acquisition/dbgHelp.dll
server/acquisition/symSrv.dll
server/acquisition/symSrv.yes
client/web/node_modules
client/web/bower_components
client/web/public/js/angular.min.js
client/web/public/js/angular.js
client/web/public/js/Chart.js
client/web/public/css/bootstrap.min.css
client/web/public/css/bootstrap.css
client/web/public/css/datetimepicker.css
client/web/public/fonts
client/web/public/img/glyph*.*
client/web/public/js/angular*
client/web/public/js/moment*
client/web/public/js/bootstrap*
client/web/public/js/datetimepicker*
client/web/public/js/jquery*